<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="binplus.FoodWill">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:supportsRtl="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainFormActivity"></activity>
        <activity android:name=".ScreenshotActivity" />
        <activity android:name=".SmsVerificationActivity" />
        <activity android:name=".OtpGenerateActivity" />
        <activity android:name=".Verfication_activity" />
        <activity android:name=".OtpActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".networkconnectivity.NetworkError" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SelectStore" /> <!-- Firebase Notifications -->
        <activity android:name=".SelectCity" />
        <activity
            android:name=".ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentGatWay"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- ./Firebase Notifications -->
        <activity android:name=".My_Order_activity" />
        <activity android:name=".MyOrderDetail" />
        <activity android:name=".RechargeWallet" />
        <activity android:name=".ThanksOrder" />
        <activity android:name=".OrderFail" />
        <activity android:name=".PaymentActivities.InitialScreenActivity" />
        <activity android:name=".PaymentActivities.WebViewActivity" />
        <activity android:name=".PaymentActivities.StatusActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.support.multidex.MultiDexApplication"
            android:value="true" />

        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Paytm" />
        <activity android:name=".networkconnectivity.NoInternetConnection" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="FF00FF00" />
        <service
            android:name=".NotificationExtenderExample"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
        <receiver
            android:name=".Config.SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>